// #################################################### HOME ####################################################
.home-encounter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.home-encounter-button {
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    color: $button-color;
    background-color: $button-bg;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid $button-border-color;
    &:hover {
        background-color: $button-bg;
        color: $button-color-hover;
        border: 1px solid $button-border-color-hover;
    }
}
// #################################################### UNIT INDEX ####################################################

.btn-new-unit {
    background-color: $button-bg;
    color: $button-color;
    width: auto;
    // font-size: $button-font-size;
    font-weight: $button-font-weight;
    border: 1px solid $button-border-color;
    padding: 1em 2em;
    box-sizing: border-box;
    &:hover {
        background-color: $button-bg;
        color: $button-color-hover;
        border: 1px solid $button-border-color-hover;
    }
}

.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}


// #################################################### ENCOUNTER NEW / EDIT ####################################################
.btn-save, .btn-default {
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    color: $button-color;
    background-color: $button-bg;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid $button-border-color;
    &:hover {
        background-color: $button-bg;
        color: $button-color-hover;
        border: 1px solid $button-border-color-hover;
    }
}

.btn-remove-unit {
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    color: $button-color;
    background-color: $button-bg;
    padding: $button-padding;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid $button-border-color;
    &:hover {
        background-color: $button-bg;
        color: $button-color-hover;
        border: 1px solid $button-border-color-hover;
    }
}

// #################################################### ENCOUNTER ACTIVE ####################################################
.controlPannel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 20%;
    left: 44%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px grey;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}