#damageCalculator {
    display: none;
    position: absolute;
    // top: 0;
    // left: 0;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    // background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.display {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.reset-button {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
    transition: border-radius 0.3s;
    &:hover {
        background-color: grey;
        border-radius: 0%;
    }
}

.calculator-visible {
    display: flex;
}

.calculator {
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    flex: 1 1 30%;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: background 0.3s, border 0.3s;
}

.calc-button {
    width: 100%;
    margin: 1%;

    //hover
    &:hover {
        background: grey;
    }
}

.close {
    position: absolute;
    // top: 10px;
    top: -5px;
    // right: 10px;
    right: -5px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-size: 20px;
    //center item
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close:hover {
    background: black;
    color: white;
}

.num {
    background: brown;
    color: white; // ajouter une couleur pour le texte des boutons num
    // width: 100%;
}

.num:hover {
    background: red;
    // border: 1px solid white;
}

button.operation-button {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    transition: background 0.3s, color 0.3s, border 0.3s; // transition douce
}

button.operation-button.damage.selected-operation {
    background: red;
    color: white;
    border: 1px solid white;
}

button.operation-button.heal.selected-operation {
    background: green;
    color: white;
    border: 1px solid white;
}

button.operation-button:hover {
    background: #ccc;
    color: #000;
    border: 1px solid #000;
}

button.mod-button {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    transition: background 0.3s, color 0.3s, border 0.3s;
}

button.mod-button:disabled {
    background: #ccc;
    color: #888; 
    border: 1px solid #888;
    cursor: not-allowed;
}

button.mod-button.selected-mod {
    background: red;
    color: white;
    border: 1px solid white;
}

button.mod-button:hover:not(:disabled) {
    background: #ccc;
    color: #000;
    border: 1px solid #000;
}

.calc-logo {
    height: 16px;
    width: 16px;
}