// code de la navbar
.title {
    font-family: $title-font;
    font-size: 2em;
    color: $text-color;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    margin: 0 .5rem;
}

.logo {
    color: $primary;

    &:hover {
        color: $accent;
    }
}

// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
// }

// .sticky+.content {
//     padding-top: $navbar-height;
// }


.nav-menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    margin: 4%;
}

.nav-position-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.nav-position-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.nav-button-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


//les liens dans la navbar
.nav-link {
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    position: relative;
    font-family: $global-font;

    &:hover {
        // color: #7F3300;
        color: $light;
    }
}

.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $light;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.nav-link.active {
    color: $light;

    &:after {
        width: 100%;
        left: 0;
    }
}


// #navbar-placeholder {
//     height: $navbar-height;
// }