//variables globales 

// $primary-bg: #343a40;
$primary-bg: #272727;
// $primary-bg: grey;
// /!\ si on change la couleur de fond, il faut changer la couleur dans le svg separator
$accent: #ff652f;
$primary: #fafafa;


$title-color: $primary;
$text-color: $primary;
$light: $primary;

$global-font: 'Marcellus';
// $title-font: 'Bilbo Swash Caps', cursive;
$title-font: 'Marcellus';

//buttons variables
$button-color: $primary;
$button-bg: $primary-bg;
$button-color-hover: $accent;
$button-border-color-hover:$accent;
$button-border-color: $primary;
$button-shadow: 0 0 10px $primary;
$button-font-size: 18px;
$button-font-weight: bold;
$button-padding: 5px 10px;

// j'aime bien #7F3300 à voir pour accent ou si on garde ff652f


// $navbar-height: 3em;
$navbar-height: 3em;


// ------------

// unit card variables
$unit-card-height: 5em;