{% extends 'navbar.html.twig' %}

{% block title %}New Monster{% endblock %}

{% block body %}
    <a class="btn btn-default" href="{{ path('app_monster_index') }}">Retour</a>

    <h1>Création de monstre</h1>

    {{ include('monster/_form.html.twig') }}

{% endblock %}
