{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}
{% block body %}
	<div data-controller="encounter-active">

		<h1>Encounter Active</h1>
		<p>Encounter ID:
			{{ encounter.getId() }}</p>
		<p>Encounter Name:
			{{ encounter.getName() }}</p>


		<div class="controlPannel d-flex">
			<div class="controlPannel-item">
				<button data-action="click->encounter-active#previousUnit">^</button>
				<button data-action="click->encounter-active#nextUnit">v</button>
			</div>
		</div>

		<div class="unit-index-container d-flex">
			<div class="unit-index-list">
				<div class="encounterUnitsContainer" id="encounterUnitsContainer"></div>
			</div>
			<div class="unit-details">
				{# <turbo-frame id="unit-details-frame" class="unit-details-frame" src=""></turbo-frame> #}
				<turbo-frame id="" src=""></turbo-frame>
			</div>
			<div>
				<button data-action="click->encounter-active#stopEncounter">End</button>
			</div>
		</div>
	</div>
{% endblock %}
