{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active">
		{% include "_parts/separator.html.twig" %}

		<section id="top-section">
			<div id="end-button-container">
				<button id="end_encounter_button" class="btn btn-default" data-action="click->encounter-active#stopEncounter">
					End
				</button>
			</div>

			<div id="active-unit-tracker-container">
				<div id="active-unit-tracker">
					<div id="carousel-container" class="slider">
						<div class="slider__nav">
							<button id="prev-button" class="btn slider__nav__button slider__nav__button--prev hidden">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
								</svg>
							</button>
							<button id="next-button" class="btn slider__nav__button slider__nav__button--next">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
								</svg>
							</button>
						</div>
						<div id="carousel" class="slider__content">
							{# items générés par le js #}
							{# <div class="slider__content__item"></div> #}
						</div>
					</div>
				</div>
			</div>
			<div id="turn-counter">
				Tour: <span id="turn-number">1</span>
			</div>

		</section>


		<section class="bottom-section index-container unit-index-container d-flex">

			<div id="damageCalculator" class="calculator-container">
				<div class="calculator">
					<div class="display">
						<input type="text" id="calculationDisplay" data-encounter-active-target="calculationDisplay"  readonly>
					</div>
					<div class="buttons">
						<button class="num calc-button" data-num="1">1</button>
						<button class="num calc-button" data-num="2">2</button>
						<button class="num calc-button" data-num="3">3</button>
						<button class="num calc-button" data-num="4">4</button>
						<button class="num calc-button" data-num="5">5</button>
						<button class="num calc-button" data-num="6">6</button>
						<button class="num calc-button" data-num="7">7</button>
						<button class="num calc-button" data-num="8">8</button>
						<button class="num calc-button" data-num="9">9</button>
						<button class="num calc-button" data-num="0">0</button>
						<!-- Add buttons for all numbers and basic operations -->
						<button class="operation-button heal" id='heal-button' data-operation="heal">Heal</button>
						<button class="operation-button damage selected-operation" id='damage-button' data-operation="damage">Damage</button>
						<button class="mod-button selected-mod" id="default-button" data-mod="default">Default</button>
						<button class="mod-button" data-mod="vulnerable">Vulnerable</button>
						<button class="mod-button" data-mod="resistant">Resistant</button>
						<button class="action" data-action="encounter-active#clearCalculator">Clear</button>
						<button id="validateButton" class="action" data-target="validate-button" >Validate</button>
						{# <button id="validateButton" class="action" data-action="encounter-active#applyDamageOrHeal">Validate</button> #}
					</div>
					<button class="close" data-action="encounter-active#closeCalculator">×</button>
				</div>
			</div>

			{# scss to change #}
			<div id="indices-container">
				<div id="index-selection">
					<button id="monster-index-button" class="toggle-button toggle-index-button active" data-target="monster-index">Monsters</button>
					<button id="player-index-button" class="toggle-button toggle-index-button" data-target="player-index">Players</button>
					<button id="global-index-button" class="toggle-button toggle-index-button" data-target="global-index">All</button>
				</div>
				<div id="index-display">
					<div class="index view scrollable" id="monster-index">monster index</div>
					<div class="index view hidden scrollable" id="player-index">player index</div>
					<div class="index view hidden scrollable" id="global-index">global index</div>
				</div>
			</div>
			<div id="turbo-container">
				<div class="unit-details scrollable">
					<turbo-frame id="" src="" loading="eager"></turbo-frame>
					{# loading options : "lazy" || "eager" #}
				</div>
			</div>
		</section>
	</div>
	{% include "_parts/separator.html.twig" %}
{% endblock %}
