{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active-test">
		<div>
			<h1 class="main-title">Combat</h1>
		</div>
		<section id="top-section">
			<div id="pannel-container"></div>

			<div id="active-unit-tracker-container">
				<div class="view-toggle">
					<button id="toggle-view-button" class="btn-default">
						Change view :
						<span id="view-mode"></span>
					</button>
				</div>
				<div id="active-unit-tracker">
					<div id="compact-view" class="swiper block">

					</div>
					<div id="full-view" class="hidden"></div>
				</div>
			</div>

		</section>

		<section
			class="bottom-section index-container unit-index-container d-flex">


			{# scss to change #}
			<div id="indices-container">
				<div id="index-selection">
					<button id="monster-index-button" class="toggle-button toggle-index-button active" data-target="monster-index">Monsters</button>
					<button id="player-index-button" class="toggle-button toggle-index-button" data-target="player-index">Players</button>
					<button id="global-index-button" class="toggle-button toggle-index-button" data-target="global-index">All</button>
				</div>
				<div id="index-display">
					<div class="index view" id="monster-index">monster index</div>
					<div class="index view hidden" id="player-index">player index</div>
					<div class="index view hidden" id="global-index">global index</div>
				</div>
			</div>

			<div id="turbo-container">
				<div class="unit-details">
					<turbo-frame id="" src="" loading="eager"></turbo-frame>
					{# loading options : "lazy" || "eager" #}
				</div>
			</div>

		</section>


	</div>
{% endblock %}
