{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active-test">
		<div>
			<h1 class="main-title">Combat</h1>
		</div>


		<div class="index-container unit-index-container d-flex">
			{# <div class="unit-index-list">
				<div class="encounterUnitsContainer" id="encounterUnitsContainer"></div>
				<div class="encounterUnitsContainer" id="encounterUnitsContainer"></div>
			</div> #}

			<section id="pannel-container"></section>

			<section id="tracker-container">
			</section>
			
			<section id="indices-container">
				<div class="indices-container">
					<div></div>
				</div>
			</section>
			
			<section id="turbo-container">
				<div class="unit-details">
					<turbo-frame id="" src=""></turbo-frame>
				</div>
			</section>
		
		</div>


	</div>
{% endblock %}
