{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}
{% block body %}
	<div data-controller="encounter-active">

		<h1>Encounter Active</h1>
		<p>Encounter ID:
			{{ encounter.getId() }}</p>

		<div class="encounterUnitsContainer" id="encounterUnitsContainer"></div>



		{# <p>Units Data: {{ dump(unitsData) }}</p> #}
	</div>
{% endblock %}
