{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active-test">
		<div>
			<h1 class="main-title">Combat</h1>
		</div>

		<div class="index-container unit-index-container d-flex">

			<section id="pannel-container"></section>

			<section id="tracker-container"></section>


			<section id="indices-container">
				<div id="index-selection">
					<button id="monster-index-button" class="toggle-button" data-target="monster-index">Monsters</button>
					<button id="player-index-button" class="toggle-button" data-target="player-index">Players</button>
					<button id="global-index-button" class="toggle-button" data-target="global-index">All</button>
				</div>
				<div id="index-display">
					<div class="index view hidden" id="monster-index" style="background-color:white">monster index</div>
					<div class="index view hidden" id="player-index" style="background-color:white">player index</div>
					<div class="index view hidden" id="global-index" style="background-color:white">global index</div>
				</div>
			</section>


			<section id="turbo-container">
				<div class="unit-details">
					<turbo-frame id="" src=""></turbo-frame>
				</div>
			</section>

		</div>


	</div>
{% endblock %}
