{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active">
		{% include "_parts/separator.html.twig" %}

		<section id="top-section">
			<div id="end-button-container">
				<button id="end_encounter_button" class="btn btn-default" data-action="click->encounter-active#stopEncounter">
					End
				</button>
			</div>

			<div id="active-unit-tracker-container">
				<div id="active-unit-tracker">
					<div id="carousel-container" class="slider">
						<div class="slider__nav">
							<button id="prev-button" class="btn slider__nav__button slider__nav__button--prev hidden">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
								</svg>
							</button>
							<button id="next-button" class="btn slider__nav__button slider__nav__button--next">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
								</svg>
							</button>
						</div>
						<div id="carousel" class="slider__content">
							{# items générés par le js #}
							{# <div class="slider__content__item"></div> #}
						</div>
					</div>
				</div>
			</div>
			<div id="turn-counter">
				Tour: <span id="turn-number">1</span>
			</div>

		</section>


		<section class="bottom-section">
			<div id="damageCalculator" class="calculator-container draggable">
				<div class="calculator">
					<div class='row display'>	
						<input type="text" id="calculationDisplay" data-encounter-active-target="calculationDisplay" class="col-9" readonly>
						<button class="action col-3 reset-button" data-action="encounter-active#clearCalculator">clear</button>
					</div>
					<div class='row'>
						<div class="col-2"><button class="num-button calc-button" data-num="1" data-type="num">1</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="2" data-type="num">2</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="3" data-type="num">3</button></div>
						{# <button class="operation-button heal" id='heal-button' data-operation="heal">Heal</button> #}
						<div class="col-3">
							<button title="Heal" class="operation-button calc-button heal" id='heal-button' data-type="operation" data-operation="heal">
								<img src="{{ asset('icons/heart.png') }}" alt="heal" class="calc-logo">
							</button>
							{# <button class="operation-button damage selected-operation" id='damage-button' data-operation="damage">Damage</button> #}
						</div>
						<div class="col-3">
							<button title="Damage" class="operation-button calc-button damage selected-operation" id='damage-button' data-type="operation" data-operation="damage">
								<img src="{{ asset('icons/swords.png') }}" alt="damage logo" class="calc-logo">
							</button>
						</div>
					</div>

					<div class='row'>
						<div class="col-2"><button class="num-button calc-button" data-num="4" data-type="num">4</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="5" data-type="num">5</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="6" data-type="num">6</button></div>
						<div class="col-6">
							<button title="Vulnerability" class="mod-button calc-button" data-type="mod" data-mod="vulnerable">
								<img src="{{ asset('icons/broken-shield.png') }}" alt="vulnerability logo" class="calc-logo">
							</button>
						</div>
					</div>							
				
					<div class='row'>
						<div class="col-2"><button class="num-button calc-button" data-num="7" data-type="num">7</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="8" data-type="num">8</button></div>
						<div class="col-2"><button class="num-button calc-button" data-num="9" data-type="num">9</button></div>
						<div class="col-6">
							<button title="Resistance" class="mod-button calc-button" data-type="mod" data-mod="resistant">
								<img src="{{ asset('icons/shield.png') }}" alt="damage resistance logo" class="calc-logo">
							</button>
						</div>
					</div>
					<div class='row'>
						<div class='col-4'><button class="num-button calc-button" data-num="0">0</button></div>
						<div class="col-8"><button id="validateButton" class="action calc-button" data-type="mod" data-target="validate-button" >Validate</button></div>
					</div>	
				</div>
				<button class="close" data-action="encounter-active#closeCalculator">×</button>
			</div>

			{# scss to change #}
			<div class="index-container unit-index-container d-flex"> 
				<div id="indices-container">
					<div id="index-selection">
						<button id="monster-index-button" class="toggle-button toggle-index-button active" data-target="monster-index">Monsters</button>
						<button id="player-index-button" class="toggle-button toggle-index-button" data-target="player-index">Players</button>
						<button id="global-index-button" class="toggle-button toggle-index-button" data-target="global-index">All</button>
					</div>
					<div id="index-display">
						<div class="index view scrollable" id="monster-index">monster index</div>
						<div class="index view hidden scrollable" id="player-index">player index</div>
						<div class="index view hidden scrollable" id="global-index">global index</div>
					</div>
				</div>
				<div id="turbo-container">
					<div class="unit-details scrollable">
						<turbo-frame id="" src="" loading="eager"></turbo-frame>
						{# loading options : "lazy" || "eager" #}
					</div>
				</div>
			</div>
		</section>
	</div>
	{% include "_parts/separator.html.twig" %}
{% endblock %}
