{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}

{% block body %}
	<div data-controller="encounter-active">
		{% include "_parts/separator.html.twig" %}

		<section id="top-section">
			<div id="active-unit-tracker-container">
				<div id="active-unit-tracker">
					<div id="carousel-container" class="slider">
						<div class="slider__nav">
							<button id="prev-button" class="btn slider__nav__button slider__nav__button--prev hidden">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
								</svg>
							</button>
							<button id="next-button" class="btn slider__nav__button slider__nav__button--next">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
								</svg>
							</button>
						</div>
						<div id="carousel" class="slider__content">
							{# items générés par le js #}
							{# <div class="slider__content__item"></div> #}
						</div>
					</div>
				</div>
			</div>
			<div id="turn-counter">
				Tour: <span id="turn-number">1</span>
			</div>

		</section>


		<section
			class="bottom-section index-container unit-index-container d-flex">
			{# scss to change #}
			<div id="indices-container">
				<div id="index-selection">
					<button id="monster-index-button" class="toggle-button toggle-index-button active" data-target="monster-index">Monsters</button>
					<button id="player-index-button" class="toggle-button toggle-index-button" data-target="player-index">Players</button>
					<button id="global-index-button" class="toggle-button toggle-index-button" data-target="global-index">All</button>
				</div>
				<div id="index-display">
					<div class="index view" id="monster-index">monster index</div>
					<div class="index view hidden" id="player-index">player index</div>
					<div class="index view hidden" id="global-index">global index</div>
				</div>
			</div>
			<div id="turbo-container">
				<div class="unit-details">
					<turbo-frame id="" src="" loading="eager"></turbo-frame>
					{# loading options : "lazy" || "eager" #}
				</div>
			</div>
		</section>
	</div>
	{% include "_parts/separator.html.twig" %}
{% endblock %}
