{% extends 'base.html.twig' %}
{% block title %}Fight !
{% endblock %}
{% block body %}
	<div data-controller="encounter-active">
		<div>
			<h1 class="main-title">Combat</h1>
		</div>
		{# <p>Encounter ID:
			{{ encounter.getId() }}
		</p>
		<p>Encounter Name:
			{{ encounter.getName() }}
		</p> #}

		<div class="controlPannel d-flex">
			<div class="controlPannel-item">
				<button class="btn btn-default" data-action="click->encounter-active#previousUnit">^</button>
				<button class="btn btn-default" data-action="click->encounter-active#nextUnit">v</button>
			</div>
		</div>

		<div class="unit-index-container d-flex">
			<div class="unit-index-list">
				<div class="encounterUnitsContainer" id="encounterUnitsContainer"></div>
			</div>
			<div class="unit-details">
				<turbo-frame id="" src=""></turbo-frame>
			</div>
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6">
				<button class="btn btn-default" data-action="click->encounter-active#stopEncounter">End</button>
			</div>
		</div>
	</div>
{% endblock %}
