{% extends 'base.html.twig' %}

{% block title %}Hello EncounterController!
{% endblock %}

{% block body %}
	<div class="container encounter-nav">
		<nav>
			<a href="{{ path('app_encounter_show', {'id': encounter.id}) }}">Back</a>
			<a href="{{ path('app_encounter_index') }}">Encounter</a>
		</nav>
	</div>

	<div data-controller="encounter">
		<div class="container encounter-menu">
			<div class="row">
				<div class="col-md-6">
					<h1>Encounter {{ encounter.name }}</h1>
				</div>
				<div class="col-md-6">
					<div class="encounter-menu__buttons">
						<button class="btn btn-primary" data-action="encounter#reset">Reset Initiatives</button>
						{# ERASE INIT #}
					</div>

					{# SET INITIATIVE #}
					<button class="btn btn-primary" data-action="encounter#setInitiatives">Set Initiatives</button>

					{# ORDER UNITS BY INITIATIVE > JS #}
					<button class="btn btn-primary" data-action="encounter#orderUnits">Order Units</button>

					{# START ENCOUNTER #}
					<button class="btn btn-primary" data-action="encounter#startEncounter">Start Encounter</button>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
