{% extends 'navbar.html.twig' %}

{% block title %}Hello EncounterController!
{% endblock %}

{% block body %}
	<div data-controller="encounter">
		<div class="container encounter-menu">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" data-action="encounter#start">Start</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" data-action="encounter#stop">Stop</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" data-action="encounter#reset">Reset</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 encounter-timer">
					<h1 class="text-center" data-target="encounter.turn">Turn count : 00 {# turnCount #}</h1>
				</div>
			</div>


            {# tableau listant les character et monsters #}
            <div class="container encounter-list">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>HP</th>
                        <th>AC</th>
                        <th>Initiative</th>
                    </thead>
                    <tbody>
                        {# {% for unit in units %}
                            <td>{{ unit.name }}</td>
                            <td>{{ unit.hp }}</td>
                            <td>{{ unit.ac }}</td>
                            <td>{{ unit.init }}</td>
                        {% endfor %} #}
                        <td>Character 1{# unit.name #}</td>
                        <td>10{# unit.hp #}</td>
                        <td>15{# unit.ac #}</td>
                        <td>15{# unit.init #}</td>
                    </tbody>
                </table>
            </div>
                
                {# ---------------------------------------------------- #}
                {# tableau listant les character et monsters #}




            
            {# ---------------------------------------------------- #}
            {# actions pour init l'encounter #}
			<div class="container encounter-footer-menu">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="encounter#add">Add</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="encounter#remove">Remove</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="encounter#clear">Clear List</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="">Save List</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="">Load List</button>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-action="">Roll for NPC initiative</button>
                                <button type="button" class="btn btn-default" data-action="">Roll for PC initiative</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	{% endblock %}
