{# {% block footer %} #}
{# clear list button #}
<div class="footer">
    <button>
        {# <a href="{{ path('clear') }}">Clear list</a> #}
    </button>

{# save list button #}
    <button>
        {# <a href="{{ path('save') }}">Save list</a> #}
    </button>

{# load list button #}
    <button>
        {# <a href="{{ path('load') }}">Load list</a> #}
    </button>

{# roll monsters initiative button #}
    <button>
        {# <a href="{{ path('roll') }}">Roll Monsters initiative</a> #}
    </button>
</div>

{# {% endblock %} #}