{% extends 'navbar.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    <div data-controller="hello">
    HELLO CONTROLLER TEMPLATE INDEX
    </div>
{% endblock %}