{% extends 'navbar.html.twig' %}
{% block title %}Home
{% endblock %}

{% block body %}
	<div data-controller="hello" class="content">
		<section>
			{# centrer le titre #}
			<h1 class="main-title">Combat Helper</h1>
			{# image en background #}

			{# séparation #}


			{# description centrée #}
			<div class="home-description">
				<div>
					<p>Cette application propose une interface de combat dans Donjon & Dragons.</p>
					<p>Elle permet de gérer les personnages et les monstres, de créer une rencontre et de la jouer.</p>
				</div>
			</div>


			{# centrer le bouton #}
			<div class="home-encounter-button-container">
				<a href="{{ path('app_encounter_new') }}">
					<button class="btn home-encounter-button">Lancez le combat !</button>
				</a>
			</div>

			{# SEPARATOR #}
			{% include "_parts/separator.html.twig" %}
		</section>


		<section>
			{# qui sommes nous #}
			<div>
				<h2 class="secondary-title">About us</h2>
				<div class="about-us">
					<div>
					<p>
						Lors de nos campagnes, on a tous ressenti le besoin d'une méthode plus efficace pour gérer les combats qu'avec cette chère gomme. 
						<br>
						La mission est simple : offrir une interface visuelle et pratique pour rendre les combats plus fluides et plus agréables pour le MJ. 
						<br>
						Cet outil permet de gérer les initiatives, de suivre les points de vie, de suivre le déroulement du combat, le tout en quelques clics.
					</p>
						<br>
					<p>
						Si vous avez des questions, des suggestions ou rencontrez des bugs, n'hésitez surtout pas à me contacter en passant <a href="" class="contact-info">par ici</a>.</p>
					<p>
						Je serai ravi d'entendre vos retours et de continuer à améliorer cet outil.
						<br>
						Merci de faire partie de l'aventure.
					</p>
					</div>
				</div>
			</div>
		</section>
	{% include "_parts/separator.html.twig" %}
	{% include "_parts/footer.html.twig" %}
	</div>
{% endblock %}
