{% extends 'base.html.twig' %}
{% block title %}Hello HelloController!{% endblock %}

{% block body %}
	<div data-controller="hello">
		<h1>Combat Helper</h1>
		<p><a href="{{ path('app_encounter_new') }}">New Encounter</a></p>

		<p><a href="{{ path('app_player_character_index') }}">Characters</a></p>

		<p><a href="{{ path('app_monster_index') }}">Monsters</a></p>
		{# titre accrocheur #}
		{# petite description, à quoi sert l'app #}
		<p>Cette application propose une interface de combat dans Donjon & Dragons.</p>
		<p>Elle permet de gérer les personnages et les monstres, de créer une rencontre et de la jouer.</p>
		<button class="btn btn-primary">Ceci est un bouton</button>

		{# séparation #}
		{# qui sommes nous #}
		{# séparation #}
		{# formulaire de contact : report bug / suggestions ajout de fonctionnalité #}
	</div>
{% endblock %}